{% if containers %}
    <div class="lg:col-span-2 space-y-12">
        {% for container in containers %}
                <div>
                    <h2 class="text-2xl font-bold mb-4 flex items-center gap-3">
                        {% include "components/icons.html" with icon=container.icon %}{{ container.header }}
                    </h2>
                    <p class="text-slate-600 leading-relaxed mb-6">
                      {{ container.text }}
                    </p>
                    {% if container.cards.exists %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        {% for card in container.cards.all %}
                        <div class="p-4 bg-white rounded-xl border border-slate-200">
                            {% if card.header %} 
                                <h4 class="font-bold mb-1">{{ card.header }}</h4>
                            {% endif %}
                            <p class="text-xs text-slate-500">{{ card.text }}</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
        {% endfor %}
    </div>
{% endif %}
