<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Page Title{% endblock %} | uOttawa JSA</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

    </head>
    <body class="bg-slate-50 text-slate-900">

        {% include "components/navbar.html" with current_page=request.resolver_match.url_name %}

        {% block content %}{% endblock %}

        {% include "components/footer.html" %}

    </body>
</html>
